In [8]:
import pandas as pd 

student={"name":["keerthi","megala","jothi"],
         "tamil":[90,80,67],
         "english":[22,44,69],
         "maths":[90,89,66]}

dataframe=pd.DataFrame(student)
print(dataframe)

print(dataframe.loc[1])

      name  tamil  english  maths
0  keerthi     90       22     90
1   megala     80       44     89
2    jothi     67       69     66
name       megala
tamil          80
english        44
maths          89
Name: 1, dtype: object

In [9]:
import pandas as pd 
student={"name":["keerthi","megala","jothi"],
         "tamil":[90,80,67],
         "english":[22,44,69],
         "maths":[90,89,66]}



df = pd.DataFrame(student, index = [1,2,3])

df

      name  tamil  english  maths
1  keerthi     90       22     90
2   megala     80       44     89
3    jothi     67       69     66

In [9]:
# Dictionary Slicing

import pandas as pd
data = {"name": ["Ram", "Sita", "Ravi", "Anu", "Kumar", "Indhu", "Vijay", "Karthik"],
        "marks": [45, 78, 56, 89, 67, 90, 34,45]}
df = pd.DataFrame(data)
sliced = df.iloc[1:6]   
print(sliced)

    name  marks
1   Sita     78
2   Ravi     56
3    Anu     89
4  Kumar     67
5  Indhu     90

In [2]:
import pandas as pd
data=pd.read_excel(r"C:/Users/KEERTHIGA/Documents/py/mark.xlsx")

tamil=data[data["Tamil"]>=90]
print("\nTamil marks > 90:")
print(tamil[["Name", "Tamil"]])

Tamil marks > 90:

KeyError: "['Name'] not in index"

In [ ]:
# head(first value)
# tail(last value)
# mean(overall)
# info -information (data type,non null)

In [ ]:
# task

In [3]:
print("    *")
print("   * *")
print("  * * *")
print(" * * * *")
print("* * * * *")

    *
   * *
  * * *
 * * * *
* * * * *

In [5]:
#reverse
rows = 5

for i in range(rows, 0, -1):
    print(" " * (rows - i) + "* " * i)

* * * * *
 * * * *
  * * *
   * *
    *

In [6]:
print("* * * * *") 
print(" * * * *")
print("  * * *")
print("   * *") 
print("    *")

* * * * *
 * * * *
  * * *
   * *
    *